<header class="bg-white shadow-sm">
  <div class="mx-auto px-4 py-4 sm:px-6 lg:px-8">
    <h1 class="text-lg font-semibold leading-6 text-gray-900">Tópico: <%= @topic.name %></h1>
  </div>
</header>
<main>
  <div class="mx-auto py-4 sm:px-6 lg:px-8">
    <%= render partial: "tags/tag_entry", collection: @topic.tags %>
  </div>

  <div class="ms-6">
    <p class="text-xl leading-8">El tópico <b><%=@topic.name%></b> en los ultimos <b><%=DAYS_RANGE%> días</b> 
    cuenta con un total de <b><%=number_with_delimiter(@total_videos, delimiter: ".")%></b> notas.</p>
  </div>
</main>